.hero {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #3D5A80;
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1, .hero h2 {
    color: white;
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 55px;
    margin-top: 0;
  }
  
  .firstLine {    
    background-color: #E0FBFC;
    padding-top: 7px;
  }

  .secondLine {
    background-color: #293241;
    padding-top: 7px;
  }

  .thirdLine {    
    background-color: #EE6C4D;
    padding-top: 7px;
  }