/* .firstbtn {
    float:left;
} */

/* .secondbtn {
    float: right;
} */

/* th {
    color: whitesmoke;
 }

td {
    color: whitesmoke;
} */

/* table {
    background-color:#3D5A80;
    color: white;
} */